---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Estudiante de desarrollo de software",
    company: "Cursos de internet",
    description:
      "Actualmente me encuentro trabajando en diversos proyectos de diseño web, donde me especializo en aprender y dominar las diversas facetas de la programación y el desarrollo de aplicaciones.",
  },
  {
    date: "Mayo 2024",
    title: "Futbolista profecional",
    company: "Japanauto",
    description:
      "Desde pequeño, el fútbol ha sido una parte fundamental de mi vida. He jugado desde los 8 años, he aprendido la importancia del trabajo en equipo, la disciplina, y la perseverancia.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
